.What-makes-rappid-great {
    padding: 1rem 2rem;
}

.jc-img{
    width:100%;
    height: 30rem;
}
.jc-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galeria {
    margin-top: 5rem;
}

.item-contenido h3{
    font-size: 2rem;
    margin-top: 2rem;
}

.item-contenido p {
    font-size: 1.5rem;
    color: var(--colo2);
    font-weight: 500;
    margin-top: 2rem;
}

.item-contenido span {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color1);
    margin-top: 5rem;
}